.footer {
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #151515;
    color: #fff;
    font-size: 15px;
}

.footer-divider {
    padding: 0 20px;
    text-align: center;
}

a {
    color: #fff;
}