.main {
    position: relative;
    height: 780px;
}

hr {
    border-top: 5px solid #63afd0;
    margin: 0 auto;
    /*width: 80%;*/
}

.left-side {
    position: absolute;
    top: 0;
    left: 0;
    height: 760px;
    padding: 20px;
}

.right-side {
    margin-left: 380px;
}
